.App {
  text-align: center;
  margin-top: 50px;
}

html {
  background-image: url('./fire.jpg')

}

.insult-box {
  border: 1px solid #FAFAFA;
  background: black;
  max-width: 66vw;
  margin: 50px auto;
  padding: 20px;
  color: crimson;
  font-size: 1.6rem;
  font-weight: bold;
}

h1, h3 {
  color: #0000ff;
  font-size: 2.4rem;
  border: 1px solid #fff;
  background: black;
  padding: 40px 0;
  max-width: 400px;
  margin: 0 auto;
}

button {
  padding: 5px 10px;
  font-weight: bold;
  background: crimson;
  color: black;
}

button:hover {
  background: black;
  color: #fff;
}